*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: textbold;
}
a{
    text-decoration: none;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{
    display: none !important
}
@font-face{
    font-family: 'text';
    src:url('../fontfamily/font5.ttf');
    font-style: normal;
    font-weight:bold;
}
@font-face{
    font-family: 'title';
    src:url('../fontfamily/font1.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face{
    font-family: 'textbold';
    src:url('../fontfamily/protext.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face{
    font-family: 'bold';
    src:url('../fontfamily/protextbold.ttf');
    font-style: normal;
    font-weight: 700;
}

    /*Page One Start*/
.page1{
    background-image: url('../images/portrait1.jpg');
    background-size: cover;
    height: 697px
}
@media(max-width:425px){
    .page1 {
        background-image: url('../images/vinland_saga.jpg');
        height: 1596px;
        width:900px;
        background-size: cover;
    }
}

/*start header*/
header{
    height: 50px;
    width:100%;
    display: flex;
}
header .container{
    width: 100%;
    display: flex;
}
header .logo{
    height: 50px;
    width: 30%;
}
header .logo h1{
    margin:14px 0 0px 20px;
    text-align:left;
    color: #FFF;
    font-family: title;
    font-size: 25px;
}
header .logo h1 span{
    color:#06b13f;
}
header .bar{
    height: 50px;
    width: 70%;
    display: flex;
}
.bar1 .fas {
    visibility: hidden;
}
.contentbar{
    display: none;
}
.slide{
    display: none
}
@media (max-width:425px){
    header {
        width:100%;
    }
    header .logo {
        z-index: 1;
    }
    header .logo h1{
        margin:30px 20px 0px 40px ;
        font-size:90px;   
    }
    header .container{
        width:100%;
    }
    .bar1{
        height: 50px;
        width: 70%;
    }
    .bar1 .fas {
        visibility: visible;
        color: #000;
        margin: 25px 25px 0 0 ;
        font-size: 130px;
        float: right;
    }
    .contentbar{
        display: block;
    }
    .nav{
        text-align: center;
        z-index: 1;
        position: fixed;
        width:0;
        height: 100%;
        top:0;
        left:0px;
        opacity: .9;
        overflow-x: hidden;
        padding-top: 60px;
        background:#121212;
        transition: .7s
    }
    .slide{
        font-size: 34px;
        transition: .7s;
        z-index: 3;
        display: block
    }
    .nav a{
        text-decoration: none;
        color: #FFF;
        padding: 10px;
        margin-left: 20px;
        font-size: 64px;
        display: block;
        line-height: 2
    }
    .nav a:hover{
        background: #FFF;
        color: #000;
        padding: 10px 20px;
        transition: .2s
    }
    .nav .close{
        text-align: center;
        padding: 70px ;
        width:28px
    }
    .nav .close:hover{
        background: #FFF;
        color: #000;
        padding: 10px 25px;
        border-radius: 50%;
        transition: .4s
    }
    header .bar {
        display:none;
    }
}    
header .bar ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    margin: 15px;
}
header .bar ul li a{
    margin:0 0 0 38px;
    color: #FFF;
    font-size: 19px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;

}
header .bar ul li a:hover {
    color: #06b13f;
}

/*End Header*/

/*Start Content*/

.page1 .content{
    background-color: rgba(0 , 0 , 0 , .5);
    height: 92.7%;
    position: absolute;
        
}
.page1 .content .content1{
    position: relative;
    width:900px;
    margin: 0 auto;
}
.page1 .content .content1 .intro{
    position: absolute;
    width: 470px;
    margin: 70px 0 0 20px ;
}
.page1 .content .content1 h1{
    font-size: 40px;
    color: #FFF;
    letter-spacing: 17px;
    border-width: 0px 0 2px 0 ;
    border-style: solid;
    border-color: #FFF;
    padding: 15px;
    margin: 30px 0;
    font-family: text;
    display: inline;
}
.page1 .content .content1 p span{
    color: #000;
    font-family: textbold;
    text-shadow: 1px 1px 0px #000,
                 1px 1px 0px #000   ;
}
.page1 .content .content1 p{
    margin: 30px 0;
    color: #FFF;
    font-family: text;
    letter-spacing: 5px;
    line-height: 1.5;
    font-size: 20px
}
.page1 .content .content1 a{
    padding: 10px 20px  ;
    margin: 20px 0;
    border: 1px solid #06b13f;
    color: #FFF;
    font-family: text;
    letter-spacing: 5px;
    transition: all .3s ease-in-out;
    display: inline;
}
.page1 .content .content1 a:hover{
    background: #06b13f;
    color: #FFF;
    border: 1px solid #06b13f;
    display: inline;
}
@media(max-width:425px){
    .page1 .content{
        width:800px;
        background:none;
        flex-wrap:wrap;
        height:900px;
        margin:230px 0px 0px 40px;
    }
    .page1 .content .content1{
        background:rgba(96,255,31, .38);
        width:830px;
        height:1100px
    }
    .page1 .content .content1 h1{
        font-size:170px;
        color:#000;
        border:0;
    }
    .page1 .content .content1 p{
        font-size:70px !important;
        font-family:bold !important;
        color:#242b23;
    }
    .page1 .content .content1 h4 a{
        font-size:60px;
        background:#145613;
        display:inline;
        color:#fff;
        padding:10px;
        border:1px solid #000000;
        margin:60px 0 0 20px ;
    }
}

/*End Content*/
    /*Page One End*/
    /*Page Two Start*/
.page2{
    min-height: 600px;
}  
@media (max-width:425px){
    .page2{
        width:900px;
    }
    .page2 .content2{
        width:900px;
        position:relative;
        background:rgba(204, 230, 100, .28);
    }
    .page2 .content2 .value{
        display:block !important;
        height:1640px;
        margin:-36px auto 0 auto !important;
        text-align:center;
        width:90% !important ;
    } 
    .page2 .content2 .value span{
        width:90px !important;
    }
    .page2 .content2 .value span h2{
        font-size:100px !important
    }
    .page2 .content2 .value span p{
        font-size:60px !important
    }
    .page2 .content2 .me{
        background:#FFF;
        height:900px;
    }
    .page2 .content2 .me .aboutme span{
        margin-left:20px !important;      
    }
    .page2 .content2 .me .aboutme span h1{
        font-size:100px !important;
    }
    .page2 .content2 .me .aboutme span p{
        font-size:50px !important;
        
    }
    .page2 .content2 .me .aboutme span h2{
        margin-top:30px !important;
    }
    .page2 .content2 .me .aboutme span h2 a{
        font-size:60px !important;
    }
    .page2 .content2 .me .pic {
        max-height: 560px;
        background-image: url(../images/me2.jpg);
        background-size: contain;
        width:450px!important ;
        background-position: bottom left;
        margin: 440px 10px 0 0 ;
    }
}
.page2 .content2{
   width:900px;
   margin: auto;
}
/*Value  */
.page2 .content2 .value{
    display: flex;
    position: relative;
    margin-left:80px;
}


.page2 .content2 .value span{
    height: 150px;
    line-height: 1.5;
    font-family: bold;
    margin:30px 20px 40px 0 ;
}
.page2 .content2 .value span h2{
    font-size:28px;
}
.page2 .content2 .value span p {
    font-size:20px;
}
/*About Me*/
.page2 .content2 .me{
    display: flex;
    margin-top: 20px;
}
.page2 .content2 .me .aboutme{
    width: 70%;
    position: relative;
}
.page2 .content2 .me .aboutme span{
    position: absolute;
    margin-left: 300px;
    font-family: bold;
}
@media (min-width:768px) and (max-width:900px){
    .page2 .content2 .me .aboutme span{
        position: absolute;
        margin-left: 200px;
        font-family: bold;
    }
    .page2 .content2 .me .aboutme{
        width:50%;
    }
    .page2 .content2 .me .aboutme span{
        margin-left:10px;
    }
    .page2 .content2 .me .pic {
        width: 50%;
        max-height: 360px;
        background-image: url(../images/me2.jpg);
        background-size: contain;
        background-position: bottom left;
        position: relative;
        margin: 90px 10px 0 0 ;
        overflow: visible;
    }
}
.page2 .content2 .me .aboutme span h1{
    font-size: 45px;
}

.page2 .content2 .me .aboutme span p{
    line-height: 1.5;
    font-size: 24px;
}
.page2 .content2 .me .aboutme span a{
    font-size: 35px;
    background: #06b13f;
    color: #FFF;
    padding: 10px 30px ;
    transition: all .4s ease-in-out;
}
.page2 .content2 .me .aboutme span a:hover{
    background: #FFF;
    color:#06b13f;
    outline:  1px solid #06b13f
}

.page2 .content2 .me .pic{
    width:40%;
    background-image: url('../images/me2.jpg');
    background-size: cover;
    height:400px;
}
    /*Page Two End*/
    
    /*Page3 Start */
.page3{
    height: 400px;
    background: #f2f2f2;
    font-family: bold;
    margin-top: 40px;
    border-top:1px inset #DDD;
}

/*content3 start*/
.page3 .content3{
    width:900px;
    margin: 10px auto 0;
    height: 400px;
    display: flex;
}
/*Start media .Page3 .skills */
@media(max-width:452px){
    .page3{
        background:none;
        height: 1900px;
        width:900px;
    }
    .page3 .content3{
        background:#f4f4f3;
        display: block;
        height: 1450px;
    }
    .page3 .content3 .skill {
        height:300px !important;
        width: 100% !important;
    }
    .page3 .content3 .skill span{
        text-align:center;
        width:90%;
        margin-left:5% !important;
    }
    .page3 .content3 .skill span h1{
        font-size:60px;
    }
    .page3 .content3 .skill span p{
        font-size:38px !important;
    }
    
    .page3 .content3 .skills {
        width: 90%;
        margin:50px 0 0px 0;
    }

            /*how much i know in Design*/
    .page3 .content3 .skills {
        width: 100% !important;
        position: relative
    }
    .page3 .content3 .skills .span0{
        position: absolute;
        width:90% !important;
        margin: 20px 50px;
    }
    .page3 .content3 .skills .span0 h3{
        font-size: 54px !important;
    }
    .page3 .content3 .skills .span0 div{
        background:none;
        height:60px;
        font-size: 26px ;
        margin-bottom: 45px !important;
        margin-top: 3px;
        color: #FFF;
    }
            /*html*/
    .page3 .content3 .skills .span0 .html{
        background: #e0e0e0;
        width: 100%;
    }
    .page3 .content3 .skills .span0 .html span{
        width: 95%;
        height:60px;
        background: #06b13f;
        display: flex;
        justify-content:flex-end;
    }
    .page3 .content3 .skills .span0 .html span h2{
        font-size: 54px !important;
    }
            /*css*/
    .page3 .content3 .skills .span0 .css{
        background: #e0e0e0;
        width: 100%;
    }
    .page3 .content3 .skills .span0 .css span{
        width: 90%;
        height:60px;
        background: #06b13f;
        display: flex;
        justify-content:flex-end;
    }
    .page3 .content3 .skills .span0 .css span h2{
        font-size: 54px !important;
    }
            /*js*/
    .page3 .content3 .skills .span0 .js{
        background: #e0e0e0;
        width: 100%;
    }
    .page3 .content3 .skills .span0 .js span{
        width: 70%;
        background: #06b13f;
        display: flex;
        height:60px;
        justify-content:flex-end;
    }
    .page3 .content3 .skills .span0 .js span h2{
        font-size: 54px !important;
    }
            /*photoshop*/
    .page3 .content3 .skills .span0 .photoshop{
        background: #e0e0e0;
        width: 100%;
    }
    .page3 .content3 .skills .span0 .photoshop span{
        width: 51%;
        background: #06b13f;
        height:60px;
        display: flex;
        justify-content:flex-end;
    }
    .page3 .content3 .skills .span0 .photoshop span h2{
        font-size: 54px !important;
    }


}
/*End Meadia .Page3 .skills*/
.page3 .content3 .skill{
    width: 40%;
    position: relative
}
.page3 .content3 .skill span{
    position: absolute;
    margin: 20px 0px;
}
.page3 .content3 .skill span h1{
    margin-bottom: 10px;
}
.page3 .content3 .skill span p{
    line-height: 1.5;
    font-size:20px ;
}

        /*how much i know in Design*/
.page3 .content3 .skills {
    width: 60%;
    position: relative
}
.page3 .content3 .skills .span0{
    position: absolute;
    width:80%;
    margin: 20px 50px;
}
.page3 .content3 .skills .span0 h3{
    font-size: 24px;
}
.page3 .content3 .skills .span0 div{
    background:#FFF;
    font-size: 26px;
    margin-bottom: 25px;
    margin-top: 3px;
    color: #FFF;
}
        /*html*/
.page3 .content3 .skills .span0 .html{
    background: #e0e0e0;
    width: 100%;
}
.page3 .content3 .skills .span0 .html span{
    width: 95%;
    background: #06b13f;
    display: flex;
    justify-content:flex-end;
}
.page3 .content3 .skills .span0 .html span h2{
    font-size: 30px;
}
        /*css*/
.page3 .content3 .skills .span0 .css{
    background: #e0e0e0;
    width: 100%;
}
.page3 .content3 .skills .span0 .css span{
    width: 90%;
    background: #06b13f;
    display: flex;
    justify-content:flex-end;
}
.page3 .content3 .skills .span0 .css span h2{
    font-size: 30px;
}
        /*js*/
.page3 .content3 .skills .span0 .js{
    background: #e0e0e0;
    width: 100%;
}
.page3 .content3 .skills .span0 .js span{
    width: 70%;
    background: #06b13f;
    display: flex;
    justify-content:flex-end;
}
.page3 .content3 .skills .span0 .js span h2{
    font-size: 30px;
}
        /*photoshop*/
.page3 .content3 .skills .span0 .photoshop{
    background: #e0e0e0;
    width: 100%;
}
.page3 .content3 .skills .span0 .photoshop span{
    width: 51%;
    background: #06b13f;
    display: flex;
    justify-content:flex-end;
}
.page3 .content3 .skills .span0 .photoshop span h2{
    font-size: 30px;
}
/*content3 Ended*/
/*content4 started*/
.page3 .content4{
    width: 900px;
    height: 400px;
    margin: auto;
    font-family: bold;
    display: flex;
}
.page3 .content4 .pic3{
    background-image: url(../images/me3.jpg);
    background-size: cover;
    height: 400px;
    width: 40%;
}
@media(max-width:425px){
    .page3 .content4{
        height:800px;
    }
    .page3 .content4 .pic3{
        background-size: contain;
        background-repeat: no-repeat;
        height: 500px;
        width: 80%;
        margin-top: 131px
    }
    .page3 .content4 .education{
        width: 65%;
        position: relative;
        margin-left: -380px;
        margin-top: 30px;
    }
    .page3 .content4 .education span{
        width:95% !important;
        position: absolute;
    }
    .page3 .content4 .education span h1{
        font-size:70px !important;
    }
    .page3 .content4 .education span p{
        font-size:40px !important;
    }
    .page3 .content4 .education span p a{
        font-size:50px !important;
    }
}
.page3 .content4 .education{
    width: 60%;
    height: 400px;
    position: relative;
}
.page3 .content4 .education span{
    width: 50%;
    margin: 50px auto 50px 50px;
    position: absolute
}
.page3 .content4 .education span h1{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.page3 .content4 .education span p{
    line-height: 1.5;
    font-size: 21px;
}
.page3 .content4 .education span a{
    font-size: 26px;
    position: absolute;
    margin-top:20px;
    color: #FFF;
    padding: 10px 30px;
    background: #06b13f;
    transition: all .4s ease-in-out;
}
.page3 .content4 .education span a:hover{
    background: #FFF;
    color:#06b13f;
    outline:  1px solid #06b13f
}
/*content4 Ened*/
    /*Page3 End */
    
    /**Page4 Started*/
.page4{
    height: 460px;
    position:relative ;
    background: #F7F7F7;
    margin-top: 450px;
}
.page4 .content5{
    width: 900px;
    height: 400px;
    margin: auto;
    font-family: bold;
    display: flex;
}
.page4 .content5 .pic4{
    background-image: url(../images/me6.png);
    background-size: cover;
    height: 400px;
    width: 69%;
}
.page4 .content5 .work{
    width: 60%;
    height: 400px;
    position: relative;
}
@media(min-width:768px) and (max-width:900px){
    .page4 .content5 .work {
        margin-left: 300px;
        position: absolute;
    }
    .page4 .content5 .pic4{
        width: 50%;
        height: 350px;
        opacity: .7
    }
}
@media(max-width:425px){
    .page4{
        width:900px;
        height:600px;
        background:#000;
    }
    .page4 .content5 {
        height:600px;
    } 
    .page4 .content5 .pic4{
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .2;
        width: 100%;
        height: 720px;
        position: absolute
    }
    .page4 .content5 .work{
        position:relative;
        color:rgba(255,255,255, .77);
        width: 80%;
    }
    .page4 .content5 .work h1{
        font-size:75px !important;
    } 
    .page4 .content5 .work p{
        font-family: bold !important;
        font-size:50px !important;
    }
    .page4 footer{
        height:100px !important; 
        opacity:.7;
    }
    .page4 footer p{
        font-family:bold !important;
        color:#dcdada !important;
        font-size:40px !important;
    }
}
.page4 .content5 .work span{
    margin: 30px 0 0 40px;
    position: absolute;
}
.page4 .content5 .work h1{
    font-size:40px;
    margin-bottom: 10px

}
.page4 .content5 .work p{
    line-height: 1.4;
    font-size: xx-large;
    font-family: textbold
}

.page4 footer{
    height: 60px;
    background: #333;
    text-align: center;
    position: relative;
    display: flex;
    justify-content:center;
}
.page4 footer p{
    position: absolute;
    margin-top: 12px;
    font-size: 22px;
    color: #F7F7F7
}
    /*Page4 Ended*/
